{{- $page := .Page -}}
{{- if $page.IsHome -}}
  {{- with site.GetPage "/getting-started/01-introduction" -}}
    {{- $page = . -}}
  {{- end -}}
{{- end -}}
{{- $headings := slice -}}
{{- with $page.Fragments -}}
  {{- range .Headings -}}
    {{- if eq .Level 2 -}}{{- $headings = $headings | append . -}}{{- end -}}
    {{- range .Headings -}}
      {{- if eq .Level 2 -}}{{- $headings = $headings | append . -}}{{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if $headings -}}
<nav class="toc" aria-label="On this page">
  <h3 class="toc-label">In this page</h3>
  <ul class="toc-list">
    {{ range $headings }}
      <li class="toc-item">
        <a href="#{{ .ID }}" data-toc-link="{{ .ID }}">{{ .Title | safeHTML }}</a>
      </li>
    {{ end }}
  </ul>
</nav>
{{- end -}}
